code {
    background-color: white;
    color: black;
    border: solid 1px #c1c1c1;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    white-space: nowrap;
}

code:before{
    content:url("../images/miniflechebleue.svg");
    position: relative;
    top:1px;
    right:4px
}

ul.code {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 20px;
}



ul.code li {
    background-image: url("../images/minilogojavascript.svg");
    background-repeat: no-repeat;
    background-position-y: 6px;
    padding-left: 25px;
    margin: 1em 0; 
    line-height: calc( 1em + 20px);
}