body{
    margin:0;
}


/* pour différencier les sections, non définitif */
section:nth-child(2n+1){
    background-color:#E3E2CC;
}
section:nth-child(2n){
    background-color: #CCCDE3;
}


section:not(#entete), section:not(#footer){
    width:100%;
    box-sizing:border-box;
    padding:50px calc( ( 100% - 1024px ) / 2 );
}

section#entete, section#footer{
    padding:50px;
}

section#entete{
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
}

section#entete>*:nth-child(1){
    flex: 40 1 auto;
}

section#entete>*:nth-child(2){
    flex: 100 1 auto;
}


section#entete a:link, section#entete a:visited{
    text-decoration: none;
    color:black;

}

section#entete a:hover, section#entete a:active{
    text-decoration: underline;
    color:grey;
}



section#footer{
    text-align: center;
}

div.menu-flex{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    white-space: nowrap;    
}

.illusCentrale {
    text-align: center;
}

