body{
    margin:0;
}


/* pour différencier les sections, non définitif */
body > *:nth-child(2n+1){
    background-color:#303030;
    color:white;
}
body > *:nth-child(2n){
    background-color: #CCCDE3;
}

section:not(#footer){
    width:100%;
    box-sizing:border-box;
    padding:50px calc( ( 100% - 1024px ) / 2 );
}

nav#entete, section#footer{
    padding:50px;
}

nav#entete{
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;
    align-items: center;
}

nav#entete li{
    display: block;
    margin: 8px 0;
}

nav#entete>*:nth-child(1){
    flex: 40 1 auto;
}

nav#entete>*:nth-child(2){
    flex: 100 1 auto;
}


nav#entete a{
    border: solid 1px white;
    padding: 5px 15px;
    text-decoration: none;
    transition:0.5s;
}


nav#entete a:link, nav#entete a:visited{

    color:white;
    border-radius:5px;
}

nav#entete a:hover, nav#entete a:active{
    color:black;
    background-color: white;
}

section#footer a{
    color:white;
}

section#footer a:link, section#footer a:visited{
    text-decoration: underline;
}

section#footer a:hover, section#footer a:active{
    text-decoration:none;
}

section#footer{
    text-align: center;
}

ul.menu-flex{
    list-style-type:none;
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
    white-space: nowrap;
    align-content: space-around;
}

.illusCentrale {
    text-align: center;
    width:100%;
}

img.logo{
    margin-left:20%;
    width:75px;
    border-radius: 7px;
}

